*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4fffedc;
    padding: 100px 0;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    justify-content: center;
}

header img{
    height: 60px;
}

form{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 2em 0;
    justify-content: center;
}

.mensagem-erro{
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: auto;
    margin-bottom: 1em;
    padding: 3px;
    border-radius: 6px;
    display: none;
}

form label{
    font-size: 16px;
}

form input{
    font-size: 18px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 6px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

form button, #btnImprimir{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #345757;
    background-color: #99c7c6;
    font-weight: bolder;
    cursor: pointer;
}

form button:hover, #btnImprimir:hover{
    background-color: #afe7e6;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid #000;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
}

table tr{
    text-align: center;
    font-size: 18px;
}

table td{
    padding: .5em 0;
    border-bottom: 1px solid #345757;
}

#btnImprimir{
    margin-top: 2em;
}